# Masukan APP ID ambil di web my.telegram.org
API_KEY = "17128374"

# Masukan API HASH ambil di web my.telegram.org
API_HASH = "b7a096985171bfaf8eb42996924f7c39"

# Masukan String Telethon Bisa di ambil Lewat t.me/StringManRobot
# Atau Ambil Manual dengan menjalankan cmd `bash sessiongen`
STRING_SESSION = "1BVtsOLsBu0Fhqtd_F-TJHjuC8IQ2_RX_QDuDISY9CqaTh7d8ikIZLwdwuei-0kK8A4x8oKcFvw88aH27ZPWsDsTofB4QP7ItxuroaPdFv8Aboy8odzmasn5ZAYtJL2i-Cto25aooIJpYFTgssdUA16pK2mivlbOem03_wQbknVrjru_i1jv1w35Wv4MtKQZls_Xw1BmI6_4mnwiwJnrv26O4nsJ0Y7mghOo1stZIOqZBSgBbOX9W6xiKZAbZeD39vlCcyd7Bf8rYPjWeKM2oCzTIuo3BVhI03f7mU4_S4DwZ0oRFMJZmXZMvsFABE4XZd4U9C_aG5TSryIPkBBSfr7_Fr38="

# Masukan BOT TOKEN dari @botfather
BOT_TOKEN = "5811177842:AAHRBW9MT_d58XcqLPOGSR0i_Zhzr0Z9r2g"

# Masukan Chat ID dari Group Untuk Bot Log Userbot
# Bila tidak ingin pakai Log userbot, isi dengan 0
BOTLOG_CHATID = -1001828576136 # this is an integer, please don't use quotes.

# Masukan URL Database Anda, Ambil dari https://elephantsql.com
# Contoh: "postgres://userbot:userbot@localhost:5432/userbot"
DATABASE_URL = "postgres://pywvuubb:K3crWjwFL4ewBuLy1lQx75P7mAFY6HM8@babar.db.elephantsql.com/pywvuubb"

# Fitur PMPERMIT Untuk Mengaktifkan Ubah ke True
# Untuk Menonaktifkan Ubah ke False
PM_AUTO_BAN = False

